.container {
  height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  @media (max-width: 1000px) {
    padding: 0 10px;
  }
}

.container--stickers {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}